<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>สาเหตุ</title>
</head>

<body class="backgroud">
    <%- include ../layout%>

        <div class="container">
            <img src="/images/hiclipart.com-id_mwsxu.png" alt=" " id="img2">


            <h1 align="center " style="margin-top:20px; color:#9A52C7;">สาเหตุของโรคซึมเศร้า?</h1>
            <div class="div3" style="margin-top: 20px;">
                <div class="text">
                    <p>ปัจจุบันแนวคิดเกี่ยวกับสาเหตุของโรคซึมเศร้านั้น เชื่อกันว่าสัมพันธ์กับหลายๆ ปัจจัย ทั้งจากด้านกรรมพันธุ์ การพลัดพรากจากพ่อแม่ในวัยเด็ก พัฒนาการของจิตใจ รวมถึงปัจจัยทางชีวภาพ เช่น การเปลี่ยนแปลงของระดับสารเคมีในสมองบางตัวเป็นต้น</p>
                    <h5 style="color:#9A52C7"> ปัจจัยสำคัญๆ ที่เกี่ยวข้องกับการเกิดโรคซึมเศร้าได้แก่</h5>
                    <p>กรรมพันธุ์ พบว่ากรรมพันธุ์มีส่วนเกี่ยวข้องสูงในโรคซึมเศร้าโดยเฉพาะในกรณีของผู้ที่มีอาการเป็นซ้ำหลายๆ ครั้งสารเคมีในสมอง พบว่าระบบสารเคมีในสมองของผู้ป่วยโรคซึมเศร้ามีการเปลี่ยนแปลงไปจากปกติอย่างชัดเจน โดยมีสารที่สำคัญได้แก่ ซีโรโทนิน
                        (serotonin) และนอร์เอพิเนฟริน (norepinephrine) ลดต่ำลง รวมทั้งอาจมีความผิดปกติของเซลล์รับสื่อเคมีเหล่านี้ ปัจจุบันเชื่อว่าเป็นความบกพร่องในการควบคุมประสานงานร่วมกัน มากกว่าเป็นความผิดปกติที่ระบบใดระบบหนึ่ง ยาแก้ซึมเศร้าที่ใช้กันนั้นก็ออกฤทธิ์โดยการไปปรับสมดุลย์ของระบบสารเคมีเหล่านี้</p>
                    <p>ลักษณะนิสัย บางคนมีแนวคิดที่ทำให้ตนเองซึมเศร้า เช่น มองตนเองในแง่ลบ มองอดีตเห็นแต่ความบกพร่องของตนเอง หรือ มองโลกในแง่ร้าย เป็นต้น บุคคลเหล่านี้เมื่อเผชิญกับสถานการณ์ที่กดดัน เช่น ตกงาน หย่าร้าง ถูกทอดทิ้งก็มีแนวโน้มที่จะเกิดอาการซึมเศร้าได้ง่าย
                        ซึ่งหากไม่ได้รับการช่วยเหลือที่เหมาะสมอาการอาจมากจนกลายเป็นโรคซึมเศร้าได้
                    </p>
                    <p>โรคซึมเศร้านั้นไม่ได้มีสาเหตุจากแต่เพียงปัจจัยใดปัจจัยหนึ่งเท่านั้น เหมือนกับการป่วยเป็นไข้หวัด ก็มักเป็นจากร่างกายอ่อนแอ จากพักผ่อนน้อย ไม่ได้ออกกำลังกาย ขาดสารอาหาร ถูกฝน อากาศเย็น ร่วมกับการได้รับเชื้อไวรัสที่ทำให้เกิดไข้หวัด ถ้าเราแข็งแรงดี
                        แม้จะได้รับเชื้อหวัดก็ไม่เป็นอะไร ในทำนองเดียวกัน ถ้าร่างกายเราอ่อนแอ แต่ไม่ได้รับเชื้อหวัดก็ไม่เกิดอาการ การเริ่มเกิดอาการของโรคซึมเศร้านั้นมักมีปัจจัยกระตุ้น มากบ้างน้อยบ้าง บางครั้งอาจไม่มีก็ได้ซึ่งพบได้น้อย อย่างไรก็ตาม การมีสาเหตุที่เห็นชัดว่าเป็นมาจากความกดดันด้านจิตใจนี้
                        มิได้หมายความว่าสิ่งที่เกิดขึ้นนั้นเป็นเรื่องปกติธรรมดาของคนเราไม่ว่าจะรุนแรงแค่ไหน การพิจารณาว่าการเปลี่ยนแปลงที่เกิดขึ้นนั้นผิดปกติหรือไม่ เราดูจากการมีอาการต่าง ๆ และความรุนแรงของอาการเป็นหลัก ผู้ที่มีอาการเข้ากับเกณฑ์การวินิจฉัยโรคซึมเศร้านั้น
                        บ่งถึงภาวะของความผิดปกติที่จำต้องได้รับการช่วยเหลือ
                    </p>
                </div>
            </div>
        </div>

</body>

</html>