<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>อาการโรคซึมเศร้า</title>
</head>

<body class="backgroud">
    <%- include ../layout%>

        <div class="container">
            <img src="/images/hiclipart.com-id_danya.png" alt="" id="img1">

            <h1 align="center" style="margin-top: 20px; color:#9A52C7;">อาการโรคซึมเศร้า?</h1>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>1. มีอารมณ์เศร้า เบื่อ เซ็ง ท้อแท้ ไม่ร่าเริงเหมือนเก่า บ่นไม่มีความสุข บางคนหงุดหงิดง่าย ขี้โมโห ขี้รำคาญ อ่อนไหวง่ายกว่าปกติ ร้องไห้บ่อย <br> 2. ดูเฉื่อยๆ ชาๆ ไม่สนใจทำสิ่งที่เคยชอบ เก็บตัวไม่สุงสิงกับใคร บางคนอาจดูกระสับกระส่าย
                        ลุกลี้ลุกลน
                        <br> 3.จังหวะชีวิตผิดไปจากเดิม เบื่ออาหารหรือกินมากไป นอนไม่หลับหรือนอนมากไป อ่อนเพลีย ไม่มีสมาธิ <br> 4.มองตัวเองในแง่ลบ เช่น ไม่ดี ไม่เก่ง ไม่มีใครรัก ไร้ค่า มองโลกในแง่ร้าย รู้สึกสิ้นหวัง อยากตาย บ่นไม่อยากมีชีวิตอยู่ หรือทำร้ายตัวเอง
                        <br> 5.วัยรุ่นอาจไม่แสดงอาการเศร้าชัดเจน แต่จะแสดงออกมาทางพฤติกรรมอื่นๆ เช่น ก้าวร้าว เกเร เหวี่ยงวีน โดดเรียน มีพฤติกรรมเสี่ยงๆ เช่น ใช้ยาเสพติด หรือแสดงออกเป็นอาการทางกาย เช่น ปวดหัว ปวดท้อง</p>
                    <h4 style="color:#9A52C7;">การเปลี่ยนแปลงในผู้ที่เป็นโรคซึมเศร้า</h4>
                    <p>การเปลี่ยนแปลงต่างๆ ที่เกิดขึ้นในผู้ที่เป็นโรคซึมเศร้าดังที่จะกล่าวต่อไปนี้ อาจเป็นแบบค่อยเป็นค่อยไปเป็นเดือนๆ หรือเป็นเร็วภายใน 1-2 สัปดาห์เลยก็ได้ ซึ่งขึ้นอยู่กับหลายๆ ปัจจัย เช่น มีเหตุการณ์มากระทบรุนแรงมากน้อยเพียงได บุคลิกเดิมของเจ้าตัวเป็นอย่างไร
                        มีการช่วยเหลือจากคนรอบข้างมากน้อยเพียงได เป็นต้น และผู้ที่เป็นอาจไม่มีอาการตามนี้ไปทั้งหมด แต่อย่างน้อยอาการหลักๆ จะมีคล้ายๆ กัน เช่น รู้สึกเบื่อเศร้า ท้อแท้ รู้สึกตนเองไร้ค่า นอนหลับไม่ดี </p>
                    <p>1. อารมณ์เปลี่ยนแปลงไป ที่พบบ่อยคือจะกลายเป็นคนเศร้าสร้อย หดหู่ สะเทือนใจง่าย ร้องไห้บ่อย เรื่องเล็กๆน้อยๆ ก็ดูเหมือนจะอ่อนไหวไปหมด บางคนอาจไม่มีอารมณ์เศร้าชัดเจนแต่จะบอกว่าจิตใจหม่นหมอง ไม่แจ่มใส ไม่สดชื่นเหมือนเดิม บางคนอาจมีความรู้สึกเบื่อหน่ายไปหมดทุกสิ่งทุกอย่าง
                        สิ่งที่เดิมตนเคยทำแล้วเพลินใจหรือสบายใจ เช่น ฟังเพลง พบปะเพื่อนฝูง เข้าวัด ก็ไม่อยากทำหรือทำแล้วก็ไม่ทำให้สบายใจขึ้น บ้างก็รู้สึกเบื่อไปหมดตั้งแต่ตื่นเช้ามา บางคนอาจมีอารมณ์หงุดหงิดฉุนเฉียวง่าย อะไรก็ดูขวางหูขวางตาไปหมด กลายเป็นคนอารมณ์ร้าย
                        ไม่ใจเย็นเหมือนก่อน
                    </p>
                    <p> 2. ความคิดเปลี่ยนไป มองอะไรก็รู้สึกว่าแย่ไปหมด มองชีวิตที่ผ่านมาในอดีตก็เห็นแต่ความผิดพลาดความล้มเหลวของตนเอง ชีวิตตอนนี้ก็รู้สึกว่าอะไรๆ ก็ดูแย่ไปหมด ไม่มีใครช่วยอะไรได้ ไม่เห็นทางออก มองอนาคตไม่เห็น รู้สึกท้อแท้หมดหวังกับชีวิต บางคนกลายเป็นคนไม่มั่นใจตนเองไป
                        จะตัดสินใจอะไรก็ลังเลไปหมด รู้สึกว่าตนเองไร้ความสามารถ ไร้คุณค่า เป็นภาระแก่คนอื่น ทั้งๆ ที่ญาติหรือเพื่อนๆ ก็ยืนยันว่ายินดีช่วยเหลือ เขาไม่เป็นภาระอะไรแต่ก็ยังคงคิดเช่นนั้นอยู่ ความรู้สึกว่าตนเองไร้ค่า ความคับข้องใจ ทรมานจิตใจ
                        เหล่านี้อาจทำให้เจ้าตัวคิดถึงเรื่องการตายอยู่บ่อยๆ แรกๆ ก็อาจคิดเพียงแค่อยากไปให้พ้นๆ จากสภาพตอนนี้ ต่อมาเริ่มคิดอยากตายแต่ก็ไม่ได้คิดถึงแผนการณ์อะไรที่แน่นอน เมื่ออารมณ์เศร้าหรือความรู้สึกหมดหวังมีมากขึ้น ก็จะเริ่มคิดเป็นเรื่องเป็นราวว่าจะทำอย่างไร
                        ในช่วงนี้หากมีเหตุการณ์มากระทบกระเทือนจิตใจก็อาจเกิดการทำร้ายตนเองขึ้นได้จากอารมณ์ชั่ววูบ
                    </p>
                    <p> 3. สมาธิความจำแย่ลง จะหลงลืมง่าย โดยเฉพาะกับเรื่องใหม่ๆ วางของไว้ที่ไหนก็นึกไม่ออก ญาติเพิ่งพูดด้วยเมื่อเช้าก็นึกไม่ออกว่าเขาสั่งว่าอะไร จิตใจเหม่อลอยบ่อย ทำอะไรไม่ได้นานเนื่องจากสมาธิไม่มี ดูโทรทัศน์นานๆ จะไม่รู้เรื่อง อ่านหนังสือก็ได้ไม่ถึงหน้า
                        ประสิทธิภาพในการทำงานลดลง ทำงานผิดๆ ถูกๆ</p>
                    <p> 4. มีอาการทางร่างกายต่างๆ ร่วม ที่พบบ่อยคือจะรู้สึกอ่อนเพลีย ไม่มีเรี่ยวแรง ซึ่งเมื่อพบร่วมกับอารมณ์รู้สึกเบื่อหน่ายไม่อยากทำอะไร ก็จะทำให้คนอื่นดูว่าเป็นคนขี้เกียจ ปัญหาด้านการนอนก็พบบ่อยเช่นกัน มักจะหลับยาก นอนไม่เต็มอิ่ม หลับๆตื่นๆ
                        บางคนตื่นแต่เช้ามืดแล้วนอนต่อไม่ได้ ส่วนใหญ่จะรู้สึกเบื่ออาหาร ไม่เจริญอาหารเหมือนเดิม น้ำหนักลดลงมาก บางคนลดลงหลายกิโลกรัมภายใน 1 เดือน นอกจากนี้ยังอาจมีอาการท้องผูก อืดแน่นท้อง ปากคอแห้ง บางคนอาจมีอาการปวดหัว ปวดเมื่อยตามตัว</p>
                    <p> 5. ความสัมพันธ์กับคนรอบข้างเปลี่ยนไป ดังกล่าวบ้างแล้วข้างต้น ผู้ที่เป็นโรคนี้มักจะดูซึมลง ไม่ร่าเริง แจ่มใส เหมือนก่อน จะเก็บตัวมากขึ้น ไม่ค่อยพูดจากับใคร บางคนอาจกลายเป็นคนใจน้อย อ่อนไหวง่าย ซึ่งคนรอบข้างก็มักจะไม่เข้าใจว่าทำไมเขาถึงเปลี่ยนไป
                        บางคนอาจหงุดหงิดบ่อยกว่าเดิม แม่บ้านอาจทนที่ลูกๆ ซนไม่ได้ หรือมีปากเสียงระหว่างคู่ครองบ่อยๆ</p>
                    <p>6. การงานแย่ลง ความรับผิดชอบต่อการงานก็ลดลง ถ้าเป็นแม่บ้านงานบ้านก็ไม่ได้ทำ หรือทำลวกๆ เพียงให้ผ่านๆ ไป คนที่ทำงานสำนักงานก็จะทำงานที่ละเอียดไม่ได้เพราะสมาธิไม่มี ในช่วงแรกๆ ผู้ที่เป็นอาจจะพอฝืนใจตัวเองให้ทำได้ แต่พอเป็นมากๆ ขึ้นก็จะหมดพลังที่จะต่อสู้
                        เริ่มลางานขาดงานบ่อยๆ ซึ่งหากไม่มีผู้เข้าใจหรือให้การช่วยเหลือก็มักจะถูกให้ออกจากงาน</p>
                    <p>7. อาการโรคจิต จะพบในรายที่เป็นรุนแรงซึ่งนอกจากผู้ที่เป็นจะมีอาการซึมเศร้ามากแล้ว จะยังพบว่ามีอาการของโรคจิตได้แก่ อาการหลงผิดหรือประสาทหลอนร่วมด้วย ที่พบบ่อยคือ จะเชื่อว่ามีคนคอยกลั่นแกล้ง หรือประสงค์ร้ายต่อตนเอง อาจมีหูแว่วเสียงคนมาพูดคุยด้วย
                        อย่างไรก็ตามอาการเหล่านี้มักจะเป็นเพียงชั่วคราวเท่านั้น เมื่อได้รับการรักษา อารมณ์เศร้าดีขึ้น อาการโรคจิตก็มักทุเลาตาม </p>
                </div>
            </div>

</body>

</html>