<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheet/style.css">

    <title>การรักษา</title>
</head>

<body class="backgroud">
    <%- include ../layout %>

        <div class="container">
            <img src="/images/7491-Facts__Stats_Depression-1296x728-Header.jpg" alt="" id="img">

            <div class="row" style="margin-top: 3px;">
                <div class="col-12">
                    <img src="/images/hiclipart.com-id_ioyan.png" alt="" id="img3">
                    <h1 align="center" style="color:#9A52C7; margin-top:20px">คำแนะนำสำหรับผู้ป่วยโรคซึมเศร้า</h1>
                    <div style="margin-top: 30px;"></div>

                    <div class="div4">
                        <div class="text">
                            <p>ผู้ที่ป่วยเป็นโรคนี้มักรู้สึกว่าตนเองไม่มีค่า ไม่มีใครสนใจ ต้องรับความกดดันต่างๆ แต่ผู้เดียว รู้สึกสิ้นหวัง ไม่อยากจะสู้ปัญหาอะไรๆ อีกแล้วแต่ขอให้ความมั่นใจว่าความรู้สึกเช่นนี้ไม่ได้เป็นอยู่ตลอดไป โรคนี้รักษาให้หายขาดได้ เมื่ออาการของโรคดีขึ้น
                                มุมมองต่อสิ่งต่างๆ ในแง่ลบจะเปลี่ยนไป ความมั่นใจในตนเองจะมีเพิ่มขึ้น มองเห็นปัญหาต่างๆ ในมุมมองอื่นๆ ที่แตกต่างออกไปจากเดิมมากขึ้นในขณะที่คุณกำลังซึมเศร้าอยู่นั้น มีข้อแนะนำดังต่อไปนี้</p>
                            <p> 1.การออกกำลังกาย การออกกำลังกายนอกจากจะช่วยทางร่างกายแล้ว จิตใจก็ยังจะดีขึ้นด้วย โดยในผู้ที่มีอาการซึมเศร้าไม่มาก จะรู้สึกว่าจิตใจคลายความเศร้า และแจ่มใสขึ้นได้ การออกกำลังกายที่ดีจะเป็นการออกกำลังแบบแอโรบิก เช่น วิ่ง เดิน
                                ว่ายน้ำ ซึ่งจะช่วยให้หลับได้ดีขึ้น การกินอาหารดีขึ้น การขับถ่ายดีขึ้น ถ้าได้ออกกำลังกายร่วมกับผู้อื่นด้วยก็จะยิ่งช่วยเพิ่มการเข้าสังคม ไม่รู้สึกว่าตนเองโดดเดี่ยว</p>
                            <p>2.อย่าตั้งเป้าหมายในการทำงานและการปฏิบัติตัวที่ยากเกินไป ช่วงนี้เป็นช่วงเวลาที่เรายังต้องการการพักผ่อน ทั้งทางร่างกายและจิตใจ การกระตุ้นตนเองมากไปกลับยิ่งจะทำให้ตัวเองรู้สึกแย่ที่ทำไม่ได้อย่างที่หวัง</p>
                            <p>3.เลือกกิจกรรมที่ทำให้เกิดความรู้สึกที่ดีๆ โดยมักจะเป็นสิ่งที่เราเคยชอบ เช่น ไปเที่ยวสวนสาธารณะ ไปเที่ยวชายทะเล ชวนเพื่อนมาที่บ้าน พยายามทำกิจกรรมที่ทำร่วมกับคนอื่นมากกว่าที่จะอยู่คนเดียว หลักการเกี่ยวกับอารมณ์ความรู้สึกอย่างหนึ่งก็คือ
                                ความรู้สึกที่เกิดขึ้นนี้จะไม่คงอยู่ตลอดไป แต่จะขึ้นๆ ลงๆ ในแต่ละช่วง คนที่มีความโศกเศร้ามักจะรู้สึกหมดหวัง คิดว่าความรู้สึกนี้จะคงอยู่กับตนเองตลอดเวลา ในความเป็นจริงแล้วจะมีอยู่บางช่วงที่อารมณ์เศร้านี้เบาบางลง ซึ่งจะเป็นโอกาสที่ให้เราเริ่มกิจกรรมที่สร้างสรรค์
                                เพื่อให้มีความรู้สึกที่ดีขึ้น
                            </p>
                            <p> 4.อย่าตัดสินใจเรื่องที่สำคัญต่อชีวิต เช่นการหย่า การลาออกจากงาน ณ ขณะที่เรากำลังอยู่ในภาวะซึมเศร้านี้การมองสิ่งต่างๆ ในแง่ลบอาจทำให้การตัดสินใจผิดพลาดไปได้ ควรเลื่อนการตัดสินใจไปก่อน หากจำเป็นหรือเห็นว่าปัญหานั้นๆ เป็นสิ่งที่กดดันเราทำให้อะไรๆ
                                แย่ลวงจริงๆ ก็ควรปรึกษาผู้ใกล้ชิดหลายๆ คนให้ช่วยคิด</p>
                            <p> 5.การมองปัญหาโดยไม่แยกแยะจะทำให้เกิดความรู้สึกท้อแท้ ไม่รู้จะทำอย่างไร การแก้ปัญหาให้แยกแยะปัญหาให้เป็นส่วนย่อยๆ จัดเรียงลำดับความสำคัญว่าเรื่องไหนควรทำก่อนหลังแล้วลงมือทำไปตามลำดับโดยทิ้งปัญหาย่อยอื่นๆ ไว้ก่อน วิธีนี้จะพอช่วยให้รู้สึกว่าตนเองยังทำอะไรได้อยู่</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img src="/images/hiclipart.com-id_otbma.png" alt="" id="img4">
                    <h1 align="center" style="color:#9A52C7; margin-top:20px;">คำแนะนำสำหรับญาติ</h1>
                    <div style="margin-top: 30px;">

                        <div class="div5">
                            <div class="text">
                                <p> ญาติมักจะรู้สึกห่วงผู้ที่เป็น ไม่เข้าใจว่าทำไมเขาถึงได้ซึมเศร้ามากขนาดนี้ ทั้งๆ ที่เรื่องที่มากระทบก็ดูไม่หนักหนานก ทำให้บางคนพาลรู้สึกโกรธ ขุ่นเคือง เห็นว่าผู้ป่วยเป็นคนอ่อนแอ เป็นคน “ไม่สู้” ทำไมเรื่องแค่นี้ถึงต้องเศร้าเสียใจขนาดนี้
                                    ท่าทีเช่นนี้กลับยิ่งทำให้ผู้ที่เป็นรู้สึกว่าตัวเองยิ่งแย่ขึ้นไปอีก เกิดความรู้สึกว่าตนเองเป็นภาระแก่ผู้อื่น ทำให้จิตใจยิ่งตกอยู่ในความทุกข์ แต่ทั้งนี้ ภาวะที่เขาเป็นนี้ไม่ใช่อารมณ์เศร้าธรรมดา หรือเป็นจากจิตใจอ่อนแอ
                                    หากแต่เป็นภาวะของความผิดปกติ เขากำลัง “เจ็บป่วย” อยู่ หากจะเปรียบกับโรคทางกายเช่น โรคปอดบวม อาจจะทำให้พอเห็นภาพชัดขึ้น คนเป็นโรคปอดบวมจะมีการอักเสบของปอด เสมหะเหนียวอุดตันตามหลอดลม ทำให้มีอาการหอบเหนื่อย เจ็บหน้าอก
                                    มีไข้ สิ่งที่เขาเป็นนั้นเขาไม่ได้แกล้งทำ หากแต่เป็นเพราะมีความผิดปกติอยู่ภายในร่างกาย เขากำลังเจ็บป่วยอยู่ กับโรคซึมเศร้าก็เป็นเช่นเดียวกัน ความกดดันภายนอกที่รุมเร้าร่วมกับปัจจัยเสี่ยงหลายๆ อย่างในตัวเองทั้งทางร่างกายและจิตใจ
                                    ทำให้มีการเปลี่ยนแปลงของสารเคมีและระบบฮอร์โมนต่างๆ ในสมอง เกิดมีอาการต่างๆ ตามมาทั้งทางกายและใจนอกเหนือไปจากความเศร้าโศก ณ ขณะนั้น นอกจากอารมณ์ที่เปลี่ยนไปแล้ว ยังพบมีอาการทางร่างกาย ต่างๆ นาๆ รวมด้วย ความคิดเห็น มุมมองต่อสิ่งต่างๆ
                                    ก็เปลี่ยนไปด้วย การมองสิ่งต่างๆ ในแง่ลบ ก็กลับจะยิ่งไปส่งเสริมให้จิตใจเศร้าหมอง กลัดกลุ้มมากขึ้นไปอีก เขาห้ามให้ตัวเองไม่เศร้าไม่ได้ ทั้งหมดนี้เป็นปรากฏการณ์ของความเจ็บป่วย ซึ่งเมื่อได้รับการรักษาหายแล้ว อารมณ์เศร้าหมองก็จะดีขึ้น
                                    จิตใจแจ่มใสขึ้น การมองสิ่งรอบตัวก็จะเปลี่ยนไป อาการต่างๆ จะค่อยๆ หายไปหากญาติมีความเข้าใจผู้ที่เป็น โรคซึมเศร้า มองว่าเขากำลังไม่สบาย ความคาดหวังในตัวเขาก็จะลดลง ความหงุดหงิด คับข้องใจก็ลดลง เรามักจะให้อภัยคนที่กำลังไม่สบาย
                                    มีข้อยกเว้นให้บางอย่าง เพราะเราทราบดีว่าเขาไม่ได้แกล้งทำ ไม่มีใครอยากป่วย
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>