<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ศาสนาพุธท</title>
</head>

<body class="backgroud">
    <%- include layout%>

        <div class="container">
            <img src="/images/monk1.png" alt="" id="img12">
            <h1 align=center style="margin-top: 20px; color:#9A52C7;">พุทธวิธีระงับความโศก</h1>

            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>ทุกสิ่งในโลกนี้ไม่มีอะไรเที่ยงแท้แน่นอน เมื่อเริ่มต้นแล้ว ย่อมมีการสิ้นสุด ดังคำภาษิตจีนที่ว่า มิมีงานเลี้ยงใดที่ไม่เลิกรา ทุกคนที่เกิดมาแล้วก็เช่นกัน จะต้องการหรือไม่ต้องการ ก็ต้องพลัดพรากจากสิ่งของ หรือบุคคลที่รักที่ชอบใจเป็นธรรมดา
                        ไม่มีใครสามารถหลีกเลี่ยงหรือหน่วงเหนี่ยวสิ่งซึ่งจะต้องเป็นไปมิให้เป็นไป ชีวิตนี้มีความพลัดพรากเป็นที่สุด</p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>เมื่อต้องพลัดพรากจากบุคคลหรือสิ่งอันเป็นที่รัก ความโศกก็เกิดขึ้น ยิ่งรักมากก็ยิ่งโศกมาก ความโศกย่อมทิ่มแทงหัวใจของผู้ที่เศร้าโศกดุจถูกลูกศรอาบยาพิษเจาะและความโศกย่อมแผดเผาจิตใจอย่างแรงกล้าดุจหลาวเหล็กถูกไฟเผาผลาญอยู่ ผู้ที่ถูกความโศกครอบงำ
                        ย่อมจะเสียใจร้องไห้น้ำตาไหล คร่ำครวญ รำพัน ร่ำไร บ่นเพ้อ จนคอริมฝีปากและเพดานแห้งผาก ย่อมได้รับ ทุกข์อันสาหัส ทอดอาลัยในชีวิต ละทิ้งการงาน กินไม่ได้ นอนไม่หลับ ที่เศร้าโศก เสียใจจนเจ็บไข้หรือเสียชีวิต หรือฆ่าตัวตายก็มี ที่เสียใจจนเป็นบ้าไปก็มี
                        ที่ซึมเศร้า หงอยเหงา จมอยู่กับความหลังเหมือนคนไร้อนาคตหมดหวังในชีวิตก็มี การปล่อยให้ความโศกเข้าครอบงำ ย่อมทำให้เกิดโทษมากมายดังกล่าว จึงจำเป็นต้องศึกษาหาวิธีการต่างๆ เพื่อระงับหรือคลายความโศกลงบ้าง สำหรับชาวพุทธก็มีวิธีระงับหรือคลายความโศกโดยนำคำสอนหรืออุบายที่พระพุทธเจ้าและพระสาวกทรงใช้สอนเตือนสติหรือปลอบใจ
                        ผู้ที่ทุกข์โศกให้หายทุกข์คลายโศกมาแล้ว มาเป็นแนวทางในการปฏิบัติ ในที่นี้จะเรียกคำสอนหรืออุบาย เหล่านี้ว่า พุทธวิธีคลายโศก </p>
                </div>
            </div>


        </div>





</body>

</html>
</body>

</html>