<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ศาสนาพุทธ</title>
</head>

<body class="backgroud">
    <%- include layout%>

        <div class="container">
            <img src="/images/monk1.png" alt="" id="img12">
            <h1 align="center" style="margin-top: 20px; color:#9A52C7;">ศาสนาพุทธ</h1>
            <h5 align="center">พุทธวิธีระงับความโศก</h5>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>ทุกสิ่งในโลกนี้ไม่มีอะไรเที่ยงแท้แน่นอน เมื่อเริ่มต้นแล้ว ย่อมมีการสิ้นสุด ดังคำภาษิตจีนที่ว่า มิมีงานเลี้ยงใดที่ไม่เลิกรา ทุกคนที่เกิดมาแล้วก็เช่นกัน จะต้องการหรือไม่ต้องการ ก็ต้องพลัดพรากจากสิ่งของ หรือบุคคลที่รักที่ชอบใจเป็นธรรมดา
                        ไม่มีใครสามารถหลีกเลี่ยงหรือหน่วงเหนี่ยวสิ่งซึ่งจะต้องเป็นไปมิให้เป็นไป ชีวิตนี้มีความพลัดพรากเป็นที่สุด</p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    เมื่อต้องพลัดพรากจากบุคคลหรือสิ่งอันเป็นที่รัก ความโศกก็เกิดขึ้น ยิ่งรักมากก็ยิ่งโศกมาก ความโศกย่อมทิ่มแทงหัวใจของผู้ที่เศร้าโศกดุจถูกลูกศรอาบยาพิษเจาะและความโศกย่อมแผดเผาจิตใจอย่างแรงกล้าดุจหลาวเหล็กถูกไฟเผาผลาญอยู่ ผู้ที่ถูกความโศกครอบงำ ย่อมจะเสียใจร้องไห้น้ำตาไหล
                    คร่ำครวญ รำพัน ร่ำไร บ่นเพ้อ จนคอริมฝีปากและเพดานแห้งผาก ย่อมได้รับ ทุกข์อันสาหัส ทอดอาลัยในชีวิต ละทิ้งการงาน กินไม่ได้ นอนไม่หลับ ที่เศร้าโศก เสียใจจนเจ็บไข้หรือเสียชีวิต หรือฆ่าตัวตายก็มี ที่เสียใจจนเป็นบ้าไปก็มี ที่ซึมเศร้า หงอยเหงา
                    จมอยู่กับความหลังเหมือนคนไร้อนาคตหมดหวังในชีวิตก็มี การปล่อยให้ความโศกเข้าครอบงำ ย่อมทำให้เกิดโทษมากมายดังกล่าว จึงจำเป็นต้องศึกษาหาวิธีการต่างๆ เพื่อระงับหรือคลายความโศกลงบ้าง สำหรับชาวพุทธก็มีวิธีระงับหรือคลายความโศกโดยนำคำสอนหรืออุบายที่พระพุทธเจ้าและพระสาวกทรงใช้สอนเตือนสติหรือปลอบใจ
                    ผู้ที่ทุกข์โศกให้หายทุกข์คลายโศกมาแล้ว มาเป็นแนวทางในการปฏิบัติ ในที่นี้จะเรียกคำสอนหรืออุบาย เหล่านี้ว่า พุทธวิธีคลายโศก </div>
            </div>
            <h5 align="center">ธรรมดา ของสังขาร คือการดับ ไม่มีกลับ คืนเป็น เช่นลมหวน</h5>
            <h5 align="center">เป็นของจริง จงจำ อย่าคร่ำครวญ สิ่งที่ควร เร่งทำ คือกรรมดี</h5>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>ในอดีตกาล ณ กรุงสาวัตถี มีหญิงสาวที่ยากจนคนหนึ่งชื่อ กิสาโคตมี เมื่อนางได้สามี บิดามารดาและญาติสามีดูหมิ่นว่าเป็นลูกสาวของสกุลเข็ญใจ ต่อมานางคลอดบุตรชายคนหนึ่ง จึงได้รับการยกย่องจากบิดามารดาและญาติสามี แต่ลูกชายนางก็ตายเสียขณะที่วิ่งเล่นได้
                        นางจึงเป็นบ้าเพราะความเศร้าโศก อุ้มร่างลูกชายที่ตายแล้ว ตระเวนไปทั่วพระนคร ร้องขอยาสำหรับบุตรของตน ชายคนหนึ่งได้แนะนำให้นางไปขอยาจากพระศาสดา นางก็ไปขอพระศาสดาตรัสว่า จงนำเมล็ดผักกาดหยิบมือหนึ่งมาจากเรือนที่ไม่เคยมีคนตาย นางดีใจมาก
                        เข้าพระนครไปที่เรือนหลังแรก ถามว่า ถ้าในเรือนนี้ไม่เคย มีใครตาย โปรดให้เมล็ดผักกาดแก่ข้าด้วยเถิด ได้รับคำตอบว่า ใครเล่าจะสามารถนับคนที่ตายไปแล้วในเรือนหลังนี้ได้ นางไปเรือนหลังอื่นๆ จนถึงเย็นก็ไม่ได้เมล็ดผักกาด นางจึงได้สติคิดว่า
                        เราสำคัญว่าลูกชายของเราเท่านั้นตาย ก็ในบ้านทุกหลัง คนที่ตายมากกว่าคนเป็น คิดแล้วก็สลดใจคลายความโศกลงจากนั้นก็ออกไปนอกเมือง ทิ้งศพลูกชายไว้ที่ป่าช้าผีดิบ แล้วกล่าวว่า ความไม่เที่ยงมิได้เกิดกับชาวชนบท ชาวพระนคร หรือสกุลใดสกุลหนึ่งเท่านั้น
                        หากเกิดกับชาวโลกทั้งหมดรวมทั้งเทวโลกด้วย แล้วนางก็กลับไปเฝ้าพระศาสดา พระองค์ตรัสถามว่า เธอได้เมล็ดผักกาดหยิบมือหนึ่งแล้วหรือ นางตอบปฏิเสธ พระศาสดาจึงตรัสว่า เธอเข้าใจว่าบุตรของเราเท่านั้นตาย ความตายเป็นธรรมยั่งยืนสำหรับ</p>
                    <p>สัตว์ทั้งหลาย แล้วตรัสว่า มฤตยูย่อมพาชนผู้มัวเมา ในบุตรและสัตว์เลี้ยงผู้มีใจฟุ้งซ่านไปในอารมณ์ต่างๆ ไป ดุจห้วงน้ำใหญ่พัดพา ชาวบ้านผู้มัวหลับไหลไปฉะนั้น เมื่อจบพระดำรัสนางได้เป็นพระโสดาบัน ต่อมาก็บวชเป็นภิกษุณ นางกิสาโคตมีถูกความโศกครอบงำอย่างหนัก
                        หากพระพุทธเจ้าตรัสบอกนางว่าไม่มียารักษาบุตรของนางที่ตายแล้ว นางก็คงไม่เชื่อพระองค์จึงตรัสให้นางไปหาเมล็ดผักกาดจากบ้านที่ไม่เคยมีคนตาย เมื่อมีความหวังว่าจะได้ยามารักษาบุตร นางก็ดีใจ แต่เมื่อตระเวนไปตามบ้านต่างๆ จนได้รับทราบความเป็นจริงของชีวิต
                        ก็สลดใจและฉุกคิดได้ว่าทุกคนมีความตายเป็นธรรมดา ไม่ใช่บุตรของตนเท่านั้นที่ตาย เมื่อคิดได้อย่างนี้ย่อมคลายความโศกได้</p>
                </div>
            </div>
            <h5 align="center">หากน้ำตา เป็นน้ำยา ชุบชีวิต เชิญญาติมิตร ครวญคร่ำ รำพันหา</h5>
            <h5 align="center">กี่ศพแล้ว ที่รด หยดน้ำตา ไม่เห็นฟื้น คืนกายา ดังตั้งใจ</h5>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>โลกนี้เป็นโลกของความทุกข์ เมื่อมีการเกิดก็ต้องมีการแก่ การเจ็บ และการตาย สิ่งเหล่านี้คนโดยมากพอใจกันนักหรือ เปล่าเลย แต่แม้จะไม่พอใจ ก็จำต้องเป็นไปอยู่นั่นเอง เพราะเมื่อมีเกิด สิ่งเหล่านี้ก็ติดตามมา แล้วก็เป็นทุกข์ เพราะพยายามจะฝืนธรรมดาของโลกเป็นเช่นนี้เอง
                        สรรพสิ่งเปลี่ยนแปรอยู่ทุกขณะ ไม่มีอะไรคงอยู่ในสถานะเดิม สภาพเก่าสิ้นไป สภาพใหม่มาแทน หากเมื่อวานยังคงอยู่ วันนี้จะมีได้หรือ ถ้าคน สัตว์เกิดมาแล้วไม่ตาย โลกวันนี้ก็จะคับแคบแน่นขนัด และคงไม่เป็นสภาพที่น่าอยู่ คนที่อยู่ค้ำฟ้าคงจะแก่คร่ำคร่าน่าชัง
                        วิถีทางธรรมชาติเป็นเช่นนี้ การเกิดแก่เจ็บตายเป็นสิ่งถูกต้องแล้วความสุขในโลกเปรียบเหมือนความฝันและของขอยืมเขามาทรัพย์สมบัติ ข้าวของเงินทองหมดทั้งสิ้นไม่ใช่ของเรา เป็นของกลางสำหรับแผ่นดิน ตายแล้ว ทิ้งหมดเอาไปไม่ได้ อย่าหลงมัวเมาไปเลย
                        แต่ความแก่ ความเจ็บ ความตายนี้ เป็นของเราแท้ๆ หนีไม่พ้นโลกธรรม คือ ธรรมดาของโลกนี้ มีอยู่ ๘ ประการคือ ลาภ ยศ สรรเสริญ สุข และ เสื่อมลาภ เสื่อมยศ นินทา ทุกข์ สี่ข้อแรกน่าชื่นชมยินดี ทุกคนอยากมี อยากได้ สี่ข้อหลังไม่น่ายินดีไม่มีใครปรารถนาแต่ก็หลีกเลี่ยงไม่พ้น
                        กล่าวคือเมื่อมีลาภ พอถึงคราวลาภก็เสื่อม มียศแล้วก็มีเสื่อมยศ ดังนั้น ท่านจึงสอน มิให้มัวเมากับโลกธรรมฝ่ายที่น่ายินดี และไม่ให้ทุกข์โศกเกินไปเมื่อถึงคราว คนเราเมื่อเกิดมาก็แต่ตัวเปล่า มิได้มีผู้ใดนำเอาทรัพย์สินหรือเครื่องประดับ
                        สักชิ้นติดตัวมาเลย เมื่อยามจะตาย ทุกคนก็ต้องทิ้งสมบัติที่หามาด้วยความเหนื่อยยากไว้เบื้องหลัง จะมีผู้ใดนำสมบัติแม้แต่ชิ้นเดียวติดตัวไปก็ไม่มี เมื่อทรัพย์สมบัติทั้งหลายมีภาวะความจริงเป็นอย่างนี้ บุคคลก็ไม่ควรยึดมั่นว่าเป็นของตนแต่ผู้เดียว
                        เขาควรคิดอยู่เสมอว่า ทุกสิ่งทุกอย่างเป็นของโลก ส่วนที่อยู่ในความครอบครองของเขา เป็นเพียงการยืมมาใช้ชั่วคราวเท่านั้น</p>
                </div>
            </div>


        </div>





</body>

</html>
</body>

</html>