<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ศาสนาพุธ</title>
</head>

<body class="backgroud">
    <%- include layout%>

        <div class="container">
            <img src="/images/monk1.png" alt="" id="img12">
            <h1 align=center style="margin-top: 20px; color:#9A52C7;">ศาสนาพุทธ</h1>

            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>ศาสนาทุกศาสนามีหลักธรรมคำสอนเป็นเครื่องยึดเหนี่ยวจิตใจของศาสนิกชน โดยทุก ศาสนามี เป้าหมายเดียวกันคือ “มุ่งให้ทุกคนมีธรรมะ มีคุณธรรม และสอนให้คนเป็นคนดี” ดังนั้น ศาสนาแต่ละศาสนาจึงมีหลักธรรมคำสอนของตนเอง เป็นแนวทางในการประพฤติปฏิบัติ</p>
                    <h5>หลักธรรมคำสอนของพุทธศาสนา</h5>
                    <p>ศาสนาพุทธมีหลักธรรมคำสอนที่พุทธศาสนิกชนยึดถือ และใช้เป็นแนวทางในการดำเนินชีวิต หลาย ประการ ได้แก่ อริยสัจ 4 ทิศ 6 ธรรมคุณ 6 สัปปุริสธรรม 7 อิทธิบาท 4 อบายมุข 6 เป็นต้น</p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <h5>อริยสัจ 4</h5>
                    <p>คือ ความจริงสุดยอดซึ่งพระพุทธเจ้าได้ทรงตรัสรู้และ ได้ แสดงต่อจาก โอวาทปาติโมกข์ ความจริงสุดยอดอันประเสริฐ มี 4 ประการ ได้แก่</p>
                    <p>1. ทุกข์ ความไม่สบายกายไม่สบายใจ ทำให้เกิดปัญหาแก่ การดำเนินชีวิต แบ่งเป็น 2 ประเภท ใหญ่ ๆ คือ สภาวทุกข์ หมายถึง ทุกข์ประจำ ที่เป็นไปตามธรรมชาติคือ เกิด แก่ เจ็บ ตาย ปกิณณกทุกข์ หมายถึง ทุกข์จร ที่อาจเกิดขึ้นเพราะเหตุต่าง ๆ เช่น ความเศร้าโศก
                        น้อยใจ ตรอมใจ เจ็บป่วยไม่สบายกาย การประสพกับ สิ่งที่ไม่รัก การพลัดพรากจากสิ่งที่รัก และความไม่สมปรารถนา</p>
                    <p>2. สมุทัย สาเหตุที่ทำให้เกิดความทุกข์ ได้แก่ ตัณหา (ความอยาก) มี 3 ลักษณะคือ <br> (1) กามตัณหา คือ ความอยากได้ อยากมี อยากเป็นในสิ่งที่ไม่เคยได้ ไม่เคยมี และ ไม่เคยเป็น <br> (2) ภวตัณหา หมายถึง ความอยากให้คงอยู่ เช่น เกียรติยศ ชื่อเสียง
                        อำนาจ คำสรรเสริญ อยากให้สิ่งเหล่านั้น ดำรงอยู่กับตนเองตลอดไป<br> (3) วิภวตัณหา หมายถึง ความไม่อยากมี ไม่อยากเป็น เช่น ความไม่พอใจในสถานะ ที่ตนมีอยู่ เป็นอยู่ในปัจจุบัน <br></p>
                    <p>3. นิโรธ หมายถึง ความดับทุกข์คือ การละตัณหา 3 ประการดังกล่าว เมื่อละต้นเหตุของทุกข์ เสียได้ ความทุกข์ย่อมไม่มี</p>
                    <p>4. มรรค หมายถึง วิธีดับทุกข์ เป็นแนวทางปฏิบัติเพื่อที่จะละตัณหาซึ่งเป็นต้นเหตุของทุกข์ มี 8 ประการดังนี้</p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">

                    <h5>มรรค 8 (แนวทางดับทุกข์ มี 8 ประการดังนี้)</h5>
                    <p>(1) สัมมาทิฐิ (ความเห็นชอบ) ได้แก่ การมีความเห็นที่ถูกต้อง เช่น ยอมรับเรื่องบาป บุญ กรรมดี กรรมชั่ว ชาตินี้และชาติหน้า ในระดับที่ละเอียดอ่อนขึ้นไปอีกคือ ความเข้าใจในอริยสัจ 4 <br> (2) สัมมาสังกัปปะ (ความดำริชอบ) ได้แก่ การคิดเพื่อที่จะให้จิตใจของตนเองเป็นอิสระคือ
                        คิดปลีกตัวออกจากกาม ไม่ตกเป็นทาศของรูป รส กลิ่น เสียง สัมผัส จนเกินไป ไม่คิดพยาบาท และ ประการสุดท้ายคือ ไม่คิดเบียดเบียนผู้อื่น<br> (3) สัมมาวาจา (วาจาชอบ) การเว้นจากวจีทุจริต 4 คือ เว้นจากการพูดเท็จ (มุสาวาจา) เว้นจากการพูดส่อเสียด
                        (ปีสุณาวาจา) เว้นจากการพูดคำหยาบ (ผรุสวาจา) เว้นจากการพูด เพ้อเจ้อ ไร้สาระ (สัมผัปปลาปวาจา) <br> (4) สัมมากัมมันตะ (การกระทำชอบ) ได้แก่ การงดเว้นจากกายทุจริต คือ การไม่ฆ่าสัตว์ ไม่ลักทรัพย์ และไม่ประพฤติ ผิดในกาม <br> (5) สัมมาอาชีวะ
                        (การเลี้ยงชีวิตชอบ) ได้แก่ การประกอบอาชีพที่ไม่ผิดศีลธรรมและ ไม่ เบียดเบียน ผู้อื่น รวมความไปถึง การไม่อยู่เฉย ๆ โดยไร้ประโยชน์ ต้องเป็นผู้ที่ทำงานประกอบอาชีพ <br> (6) สัมมาวายามะ (ความเพียรชอบ) ได้แก่ การเพียรระวังไม่ให้ความชั่วเกิดขึ้น
                        หรือเพียร ขจัดความชั่วที่ได้เกิดขึ้นแล้ว เพียรสร้างความดีให้เกิดขึ้น และเพียรรักษาความดีที่มีอยู่แล้วให้คงอยู่ ตลอดไป <br> (7) สัมมาสติ (ความระลึกชอบ) คือ การกำหนดรู้พฤติกรรมของจิต ระลึกได้ตลอดเวลาว่า ตนเองกำลังคิดอะไร ทำอะไร ไม่เป็นคนใจลอย
                        ไม่ประสาท มีความรอบคอบ <br> (8) สัมมาสมาธิ (ความตั้งใจชอบ) ได้แก่ การตั้งจิตให้มั่นคง สามารถควบคุมอารมณ์ได้ จนกระทั่งสามารถบังคับจิตใจ ให้หยุดนิ่งอยู่กับอารมณ์อันเดียวทิศ 6 <br> ทิศ 6 หรือการปฏิบัติชอบระหว่างบุคคลผู้มีอุปการะคุณต่อกัน
                        6 พวกคือ</p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <h5>สัปปุริสธรรม 7</h5>
                    <p>สัปปุริสธรรม 7 คือ หลักธรรมของคนดีหรือหลักธรรมของสัตตบุรุษ 7 ประการ ได้แก่ รู้จักเหตุ รู้จักผล รู้จักตน รู้จักประมาณ รู้จักกาล รู้จักปฏิบัติ และรู้จักบุคคล <br> 1. รู้จักเหตุหรือธัมมัญญุตา หมายถึง ความเป็นผู้รู้จักเหตุ รู้จักวิเคราะห์หาสาเหตุ
                        ของสิ่งต่าง ๆ <br> 2. รู้จักผลหรืออัตถัญญุตา หมายถึง ความเป็นผู้รู้จักผลที่จะเกิดขึ้นจากการกระทำ <br> 3. รู้จักตนหรืออัตตัญญุตา หมายถึง ความเป็นผู้รู้จักตน ทั้งในด้านความรู้ คุณธรรม และความ สามารถ <br> 4. รู้จักประมาณหรือมัตตัญญุตา
                        หมายถึง ความเป็นผู้รู้จักประมาณ รู้จักหลักของความ พอดี การดำเนินชีวิต พอเหมาะพอควร <br> 5. รู้จักกาลเวลาหรือกาลัญญุตา หมายถึง ความเป็นผู้รู้จักกาลเวลา รู้จักเวลาไหนควรทำ อะไร แล้วปฏิบัติให้เหมาะสม กับเวลานั้น ๆ <br> 6. รู้จักปฏิบัติหรือปริสัญญุตา
                        หมายถึง ความเป็นผู้รู้จักปฏิบัติ การปรับตน และแก้ไขตน ให้เหมาะสมกับสภาพของ กลุ่มและชุมชน <br> 7. รู้จักบุคคลหรือบุคคลัญญุตา หมายถึง ความเป็นผู้รู้จักปฏิบัติตนให้เหมาะสมกับบุคคล ซึ่งมีความแตกต่างกันการที่ บุคคลใดนำเอาหลักสัปปุริสธรรม
                        7 มาใช้ในการดำเนินชีวิต จะช่วยให้ ชีวิตพบกับความสุข ในชีวิตได้</p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <h5>อิทธิบาท 4</h5>
                    <p>อิทธิบาท 4 คือ หลักธรรมที่นำไปสู่ความสำเร็จแห่งกิจการ มี 4 ประการคือ ฉันทะ วิริยะ จิตตะ วิมังสา 1. ฉันทะ คือ ความพอใจ ใฝ่รัก ใฝ่หาความรู้ และใฝ่สร้างสรรค์ <br> 2. วิริยะ คือ ความเพียรพยายาม มีความอดทนไม่ท้อถอย <br> 3. จิตตะ คือ ความเอาใจใส่และตั้งใจแน่วแน่ในการทำงาน
                        <br> 4. วิมังสา คือ ความหมั่นใช้ปัญญาและสติในการตรวจตราและคิดไตร่ตรอง</p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <h5>กุศลกรรมบท 10</h5>
                    <p>กุศลกรรมบท 10 เป็นหนทางแห่งการทำความดีงาม ทางแห่งกุศลซึ่งเป็นหนทางนำไปสู่ความสุข ความเจริญ แบ่งออกเป็น 3 ทางคือ กายกรรม 3 วจีกรรม 4 และมโนกรรม 3 1. กายกรรม 3 หมายถึง ความประพฤติดีที่แสดงออกทางกาย 3 ประการ ได้แก่ <br> (1) เว้นจากการฆ่าสัตว์
                        คือ การละเว้นจากการฆ่าสัตว์ การเบียดเบียนกัน เป็นผู้มีเมตตา กรุณา <br> (2) เว้นจากการลักทรัพย์ คือ ละเว้นจากการลักขโมย เคารพในสิทธิของผู้อื่น ไม่หยิบฉวย เอาของคนอื่นมาเป็นของตน <br> (3) เว้นจากการประพฤติผิดในกาม คือ การไม่ล่วงละเมิดสามีหรือภรรยาผู้อื่น
                        ไม่ล่วง ละเมิด ประเวณีทางเพศ <br> 2. วจีกรรม 3 หมายถึง การเป็นผู้มีความประพฤติดีซึ่งแสดงออกทางวาจา 4 ประการ ได้แก่ <br> (1) เว้นจากการพูดเท็จ คือ พูดแต่ความจริง ไม่พูดโกหก หลอกลวง <br> (2) เว้นจากการพูดส่อเสียด คือ พูดแต่ในสิ่งที่ทำให้เกิดความสามัคคี
                        กลมเกลียว ไม่พูดจา ในสิ่งที่ก่อให้เกิดความ แตกแยก แตกร้าว <br> (3) เว้นจากการพูดคำหยาบ คือ พูดแต่คำสุภาพ อ่อนหวาน อ่อนโยน กับบุคคลอื่นทั้ง ต่อหน้า และลับหลัง <br> (4) เว้นจากการพูดเพ้อเจ้อ คือพูดแต่ความจริง มีเหตุมีผลเน้นเนื้อหาสาระที่เป็น
                        ประโยชน์ พูดแต่สิ่งที่จำเป็นและพูดถูกกาลเทศะ <br> 3. มโนกรรม 3 หมายถึง ความประพฤติที่เกิดขึ้นในใจ 3 ประการ ได้แก่ <br> (1) ไม่อยากได้ของของเขา คือ ไม่คิดจะโลภอยากได้ของผู้อื่นมาเป็นของตน <br> (2) ไม่พยาบาทปองร้ายผู้อื่น คือ มีจิตใจดี
                        มีความปรารถนาดี อยากให้ผู้อื่นมีความสุข ความเจริญ <br> (3) มีความเห็นที่ถูกต้อง คือ มีความเชื่อในเรื่องการทำความดีได้ดี ทำชั่วได้ชั่ว และมี ความ เชื่อว่า ความพยายามเป็นหนทางแห่งความสำเร็จ <br> อกุศลกรรมบท 10 เป็นหนทางแห่งการทำความชั่ว
                        ความไม่ดี 10 ประการ แบ่งออกเป็น 3 ทางคือ กายกรรม 3 วจีกรรม 4 และมโนกรรม 3

                    </p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <h5>สังคหวัตถุ 4</h5>
                    <p>สังคหวัตถุ 4 เป็นหลักธรรมคำสอนทางพุทธศาสนาที่เป็นวิธีปฏิบัติเพื่อยึดเหนี่ยวจิตใจคนอื่นที่ยัง ไม่เคยรักใคร่นับถือ ให้เกิดความรัก ความนับถือ สังคหวัตถุเป็นหลักธรรมที่ช่วยผูกไมตรีซึ่งกันและกันให้ แน่นแฟ้นยิ่งขึ้น ประกอบด้วย ทาน ปิยวาจา
                        อัตถจริยา สมานัตตตา <br> 1. ทาน คือ การให้ปันสิ่งของของตนให้แก่ผู้อื่นด้วยความเต็มใจ เพื่อให้ประโยชน์แก่ผู้รับ การให้เป็นการยึดเหนี่ยวน้ำใจกัน อย่างดียิ่ง เป็นการสงเคราะห์สมานน้ำใจกัน ผูกมิตรไมตรีกันให้ยั่งยืน <br> 2. ปิยวาจา คือ
                        การเจรจาด้วยถ้อยคำไพเราะอ่อนหวาน พูดชวนให้คนอื่นเกิดความรักและ นับถือ คำพูดที่ดีนั้นย่อมผูกใจคน ให้แน่นแฟ้นตลอดไป หรือแสดงความเห็นอกเห็นใจ ให้กำลังใจ รู้จักพูดให้เกิด ความเข้าใจดี สมานสามัคคี ย่อมทำให้เกิดไมตรี ทำให้ รักใคร่นับถือและช่วยเหลือ
                        เกื้อกูลกัน <br> 3. อัตถจริยา คือ การประพฤติสิ่งที่เป็นประโยชน์แก่กัน คือช่วยเหลือด้วยแรงกายและ ขวนขวาย ช่วยเหลือกิจการต่าง ๆ ให้ลุล่วงไป เป็นคนไม่ดูดาย ช่วยให้เกิดสติสำนึกในความผิดชอบชั่วดี หรือช่วย แนะนำให้เกิดความรู้ ความสามารถในการ
                        ประกอบอาชีพ <br> 4. สมานัตตตา คือ การวางตนเป็นปกติเสมอต้นเสมอปลาย ไม่ถือตัวการวางตนให้ เหมาะสม กับฐานะของตนตามสภาพ ได้แก่ เป็นผู้ใหญ่ ผู้น้อย หรือผู้เสมอกัน เอาใจใส่ปฏิบัติตามฐานะ ผู้น้อย คารวะนอบน้อมยำเกรงผู้ใหญ่</p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <h5>อบายมุข 6</h5>
                    <p>คำว่าอบายมุข คือ หนทางแห่งความเสื่อม หรือหนทางแห่งความหายนะ ความฉิบหาย มี 6 อย่าง ได้แก่ 1. การเป็นนักเลงผู้ใหญ่ หมายถึง การเป็นคนมีจิตใจใฝ่ในเรื่องเพศ เป็นคนเจ้าชู้ ทำให้เสีย ทรัพย์สิน เงินทอง สูญเสีย เวลาและเสียสุขภาพ <br> 2. การเป็นนักเลงสุรา
                        หมายถึง ผู้ที่ดื่มสุราจนติดเป็นนิสัย การดื่มสุรานอกจากจะทำให้เสียเงิน ทองแล้ว ยังเสียสุขภาพ และบั่นทอนสติปัญญาอีกด้วย <br> 3. การเป็นนักเลงการพนัน หมายถึง ผู้ที่ชอบเล่นการพนันทุกชนิด การเล่นการพนันทำให้ เสียทรัพย์สิน เสียสุขภาพ
                        การพนันไม่เคยทำให้ใครร่ำรวย มั่งมีเงินทองได้เลย <br> 4. การคบคนชั่วเป็นมิตร หมายถึง การคบคนไม่ดีหรือคนชั่ว คนชั่วมักชักชวนให้ทำในสิ่งที่ไม่ ถูกต้อง และอาจนำความเดือดร้อนมาสู่ตนเองและครอบครัว <br> 5. การเที่ยวดูการละเล่น หมายถึง
                        ผู้ที่ชอบเที่ยวการละเล่นกลางคืน ทำให้เสียทรัพย์และ อาจทำให้เกิดการ ทะเลาะเบาะแว้งในครอบครัว <br> 6. เกียจคร้านทำการงาน หมายถึง ผู้ไม่ชอบทำงาน ขี้เกียจ ไม่ขยันขันแข็ง <br> เบญจศีลเบญจธรรม คือ หลักธรรมที่ควรปฏิบัติควบคู่กัน มุ่งให้บุคคลทำความดี
                        ละเว้นความชั่ว <br> โลกบาลธรรมหรือธรรมคุ้มครองโลก

                    </p>
                    <p>โลกบาลหรือธรรมคุ้มครองโลก เป็นหลักธรรมที่ช่วยให้มนุษย์ทุกคนในโลก อยู่กันอย่างมี ความสุข มีน้ำใจ เอื้อเฟื้อ มีคุณธรรมและทำแต่สิ่งที่เป็นประโยชน์ ประกอบด้วยหลักธรรม 2 ประการ ได้แก่ หิริโอตตัปปะ<br> 1. หิริ คือ ความละอายในลักษณะ 3 ประการ
                        แล้วไม่ทำความชั่ว (บาป) คือ <br> (1) ละอายแก่ใจ หรือความรู้สึกที่เกิดขึ้นในใจตนเองแล้วไม่ทำความชั่ว <br> (2) ละอายผู้อื่น หรือสภาพแวดล้อมต่าง ๆ แล้วไม่ทำความชั่ว <br> (3) ละอายต่อความชั่วที่ตนจะทำนั้นแล้วไม่ทำความชั่ว
                        <br> 2. โอตตัปปะ คือ ความเกรงกลัว หมายถึง <br> (1) เกรงกลัวตนเอง ติเตียนตนเองได้ <br> (2) เกรงกลัวผู้อื่นแล้วไม่กล้าทำความชั่ว <br> (3) เกรงกลัวต่อผลของความชั่วที่ทำจะเกิดขึ้นแก่ตน <br> (4) เกรงกลัวต่ออาญาของแผ่นดินแล้วไม่กล้าทำความชั่ว</p>
                    <p>คำว่า “กตัญญู” แปลว่า “การรู้คุณคน” ส่วนคำว่า “กตเวที” แปลว่า การตอบแทนผู้มีบุญคุณ กับเรา ดังนั้นคำว่า กตัญญูกตเวที จึงหมายถึง “การรู้คุณคนและตอบแทนผู้มีบุญคุณกับเรา”บุคคลผู้มีอุปการะคุณแก่คนเรานั้น มีมากมาย แบ่งกว้าง ๆ ได้ 5 กลุ่ม
                        ประกอบด้วย 1. ทางสกุล ได้แก่ บิดา มารดา ปู่ ย่า ตา ยาย ลุง ป้า น้า อา เป็นต้น<br> 2. ทางการศึกษา ได้แก่ ครูบาอาจารย์ หรือบุคคลที่อบรมสั่งสอนเรา <br> 3. ทางการปกครอง ได้แก่ พระมหา กษัตริย์และเชื้อพระวงศ์ทุกพระองค์
                        <br> 4. ทางศาสนา ได้แก่ องค์พระศาสดาของทุกศาสนา
                        <br> 5. ทางอื่น ได้แก่ ผู้มีอุปการะคุณทางอ้อม เช่น เพื่อนฝูง เพื่อนบ้าน เจ้าหน้าที่บ้านเมืองที่ ปฏิบัติหน้าที่ด้วยความซื่อสัตย์ สุจริต เป็นต้น</p>
                    <p>“ธรรมะ 4 ประการนั้น ก็มีสัจจะ - ความจริงใจ มีทมะ - การบังคับตัวเอง ขันติ - ความ อดกลั้น อดทน จาคะ - บริจาคสิ่งที่ไม่ควรมีอยู่ในตน ก็เรียกว่า มีฆราวาสธรรมที่สมบูรณ์ จะเป็น เด็กก็ดี ผู้ใหญ่ก็ดี ผู้หญิงก็ดี ผู้ชายก็ดี คนหนุ่ม คนสาว คนแก่
                        คนเฒ่าก็ดี เป็นฆราวาสก็ดี เป็นพระเจ้า พระสงฆ์ก็ดี ล้วนแต่อาศัยธรรมะทั้ง 4 อย่างนี้เป็นเครื่องกำจัดซึ่งสิ่งไม่พึงปรารถนา ; แล้วมาทำให้เกิดสิ่งที่ พึงปรารถนาขึ้นมาอย่างครบถ้วน ก็เป็นอันว่าจะได้รับสิ่งที่ดีที่สุดเพิ่มขึ้น ๆ จน จะถึงสิ่งที่ดีที่สุด
                        ที่สูงสุด ที่มนุษย์เราควรจะได้รับ” พุทธทาสภิกขุ</p>

                </div>
            </div>




</body>

</html>
</body>

</html>