<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ศาสนาคริสต์</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <img src="/images/mk.png" alt="" id="img13">
        <h1 align="center" style="margin-top: 30px; color:#9A52C7;">ศาสนาคริสต์</h1>
        <div class="container">
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>พระคัมภีร์สอนให้เราเต็มล้นด้วยความชื่นชมยินดีและคำสรรเสริญ (ฟีลิปปี 4:4; โรม 15:11) ดังนั้นดูเหมือนว่าพระเจ้าทรงมีพระประสงค์ที่จะให้เรามีชีวิตอย่างมีความสุข นี่ไม่ใช่เรื่องง่ายสำหรับคนบางคนที่มีปัญหาซึมเศร้า แต่ปัญหานี้สามารถแก้ได้โดยทางของประทานแห่งการอธิษฐานจากพระเจ้า,
                        การศึกษาพระคัมภีร์และนำมาประยุกต์ใช้, กลุ่มคอยให้ความช่วยเหลือ หรือกลุ่มสามัคคีธรรมตามบ้าน, การพบปะพูดคุยในหมู่ผู้เชื่อ, การสารภาพบาป, การให้อภัย และการเข้ารับการปรึกษา เราจะต้องพยายามที่จะไม่หมกมุ่นอยู่กับตัวเอง แต่หันไปสนใจสิ่งอื่นนอกตัวแทน
                        บ่อนครั้งความรู้สึกซึมเศร้าสามารถแก้ไขได้เมื่อผู้ที่มีปัญหาเลิกจดจ่ออยู่ที่ตัวเองและหันไปจดจ่ออยู่ที่พระคริสต์และคนอื่น ๆ แทน</p>
                    <p> “จิตใจข้าพเจ้าเอ๋ย เหตุใดจึงเศร้าโศกเช่นนี้ เหตุใดจึงกระวนกระวายอยู่ภายในข้าพเจ้าเล่า จงมอบความหวังไว้ในพระเจ้าเถิด ข้าพเจ้าจะยังสรรเสริญพระองค์อีก พระองค์ผู้ทรงเป็นผู้ช่วยข้าพเจ้าให้รอดพ้น และทรงเป็นพระเจ้าของข้าพเจ้า” (สดุดี42:5)พักสงบในการทรงสถิตย์ของพระเจ้าด้วยความหวัง
                        ไม่ว่าท่านจะเผชิญอะไรมาในอดีต มันทำร้ายท่านมามากพอแล้ว อย่าปล่อยให้มันทำร้ายอนาคตของท่านได้อีก ทำจิตใจให้พร้อมกับการสรรเสริญ และความช่วยเหลือจากพระองค์จะมาถึง “พระยาห์เวห์จะเสด็จนำหน้าท่าน พระองค์จะทรงสถิตอยู่กับท่าน จะไม่ทรงทำให้ท่านผิดหวังหรือทอดทิ้งท่าน
                        อย่ากลัวและอย่าท้อแท้เลย” (เฉลยธรรมบัญญัติ31:8) อย่าลืมว่าท่านไม่ได้อยู่คนเดียวบนโลก พยายามบังคับตัวเองให้อยู่กับผู้อื่น การอยู่คนเดียวยิ่งทำให้หดหู่ และที่สำคัญที่สุด ท่านมีพระผู้ช่วยให้รอดเป็นที่พึ่ง
                    </p>
                    <p>“เมื่อใดที่พระเจ้าทรงยอมให้จิตชั่วร้ายเข้าสิงซาอูล ดาวิดจะเอาพิณมาดีด แล้วกษัตริย์ซาอูลก็ทรงรู้สึกสงบ สบายพระทัยขึ้น จิตชั่วร้ายก็ผละไปจากพระองค์” (1ซามูเอล16:23) ดนตรีบำบัดช่วยโรคซึมเศร้าได้ หากรู้สึกซึมเศร้าหรือเห็นคนรอบข้างมีอาการซึมเศร้า
                        ให้ร้องเพลงหรือเล่นดนตรีให้เขาฟัง ทางที่ดีที่สุดควรให้คนที่ซึมเศร้าได้ร้องหรือเล่นเอง ดนตรีจะเยียวยาและยกระดับจิตใจเขาเหมือนกับที่กษัตริย์ซาอูลได้รับ
                    </p>
                </div>
            </div>
        </div>
</body>

</html>