<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ศาสนาคริสต์</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <img src="/images/mk.png" alt="" id="img13">
        <h1 align="center" style="margin-top: 30px; color:#9A52C7;">ศาสนาคริสต์</h1>
        <div class="container">
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>แท้จริงแล้วศาสนาคริสต์เองมีรากฐานการกำเนิดมาจากศาสนายิวที่มีโมเสสเป็นศาสดา รวมถึงเป็นผู้ยืนยันว่าพระผู้เป็นเจ้าหรือพระยะโฮวาทรงได้รับประทานบัญญัติมาให้ ศาสนิกชนที่นับถือคริสต์ศาสนาทุกคนจะต้องนับถือศรัทธาในพระเยซูเป็นสิ่งสูงสุดในชีวิต
                        นอกจากนี้ยังต้องจงรักภักดีต่อเพื่อนบ้าน เพื่อนมนุษย์ ให้เหมือนดั่งการรักตัวเอง ซึ่งหลักคำสอนที่น่าสนใจและสามารถนำไปยึดถือปฏิบัติได้มีดังนี้</p>
                    <h5>หลักบัญญัติ 10 ประการ</h5>
                    <p>จงนับถือต่อองค์พระผู้เป็นเจ้าเพียงผู้เดียวเท่านั้น อย่าทำการออกพระนามของพระเจ้าอย่างไม่สมควร <br> วันพระเจ้าให้ถือว่าเป็นวันที่มีความศักดิ์สิทธิ์ <br> จงให้ความเคารพนับถือบิดารมารดาของตนเอง <br> อย่าฆ่าคนโดยเด็ดขาด <br> อย่าล่วงเกินประเวณีผู้อื่นเป็นอันขาดไม่ว่าจะด้วยเหตุผลใดก็ตาม
                        <br> อย่าลักทรัพย์ในสิ่งที่ไม่ใช่ของตนเอง <br> อย่าขโมยในสิ่งที่ไม่ใช่ของตนอง <br> อย่าทำตัวเป็นพยานเท็จต่อหน้าเพื่อนบ้านของเจ้า <br> อย่าโลภมากเพื่อหวังได้บ้านเรือนของเพื่อนบ้าน อย่าโลภมากเพื่ออยากได้เมียของเพื่อนบ้านหรือทาสของเขา
                        ลา โค ของเขาหรือแม้แต่สิ่งใดสิ่งหนึ่งที่เป็นของเขา ที่ไม่ใช่ของเรา <br> หลักตรีเอกานุภาพ <br> เป็นหลักคำสอนที่ให้เกิดการศรัทธาในพระเจ้าเพียงพระองค์เดียวแต่จะมีทั้งหมด 3 สภาวะประกอบไปด้วย <br> พระบิดา เป็นองค์พระเจ้าผู้สร้างโลกมนุษย์
                        <br> พระบุตร เป็นผู้ที่เกิดมาเพื่อทำการไถ่บาปให้กับมนุษย์ <br> พระจิตร เป็นพระวิญญาณอันบริสุทธิ์เพื่อเป็นการมอบความรักและมีการบันดาลให้มนุษย์มีคุณภาพชีวิตที่ดีมากขึ้น <br> หลักความรัก

                    </p>
                    <p>เป็นหลักคำสอนเกี่ยวกับเรื่องราวความรักในศาสนาคริสต์ หมายถึงต้องการปรารถนาเพื่อให้ผู้อื่นมีความสุข ให้มีความเมตตากรุณาต่อกัน มีความให้อภัยซึ่งกันและกัน มีความยินดีเมื่อเป็นผู้อื่นได้ดีกว่า มีทั้งความรักระหว่างมนุษย์กับพระเจ้าและมนุษย์กับมนุษย์</p>
                </div>
            </div>
        </div>
</body>

</html>