<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ศาสนาอิสลาม</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <img src="/images/isaram.png" alt="" id="img14">
        <h1 align="center" style="margin-top: 30px; color:#9A52C7;">ศาสนาอิสลาม</h1>
        <div class="container">
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>
                        “โอ้มนุษย์เอ๋ย ! แท้จริงข้อตักเตือน (อัลกุรอาน) จากพระเจ้าของพวกท่าน ได้มายังพวกท่านแล้ว และ(มัน)เป็นการบำบัดสิ่งที่มีอยู่ในทรวงอก และเป็นการชี้แนะทาง และเป็นความเมตตาแก่บรรดาผู้ศรัทธา (10:57)อัลลอฮเรียกอัลกุรอานว่า “ยาบำบัดรักษาหัวใจ” หากความเศร้าไม่มีอยู่จริงในโลกนี้ดังที่อ้างไว้
                        คุณคิดว่ายาที่อัลลอฮหมายถึงนั้นมีไว้รักษาภาวะโรคหัวใจล้มเหลวอย่างนั้นหรือ?ต้นตอของความเชื่อโบราณเหล่านั้นมักจะมาจากความคิดที่ว่า ภาวะซึมเศร้าคือรูปแบบหนึ่งของการเนรคุณต่อพระเจ้า หรือเป็นสัญญาณที่บ่งบอกถึงการมีศรัทธาที่อ่อนแอ พูดง่ายๆ
                        ก็คือคนที่อยู่ในภาวะซึมเศร้านั้นไม่มีอิสลามในหัวใจ หรืออะไรทำนองนั้น… “มนุษย์คิดหรือว่า พวกเขาจะถูกทิ้งไม่ให้เจอกับสิ่งใดเพียงเพราะเขาพูดว่า “เราศรัทธา” แล้วพวกเขาจะไม่ถูกทดสอบกระนั้นหรือ?”

                    </p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>
                        อัลลอฮได้ตั้งคำถามให้เราทุกคนในซูเราะห์อังกาบู้ต คุณคิดว่าการเป็นผู้ศรัทธาแล้วจะทำให้คุณไม่ต้องเจอกับความวิตกกังวลอะไรใดๆ แล้วกระนั้นหรือ? เปล่าเลย… “เราได้ทดสอบกลุ่มชนก่อนหน้าพวกเขา และอัลลอฮนั้นทรงรู้แน่แท้ว่าใครคือผู้สัจจริงและใครคือผู้กล่าวเท็จ” (29:2-3)
                        ความเป็นจริงคือ อัลลอฮนั้นเคยทดสอบชนผู้ศรัทธาในยุคก่อน และพระองค์ก็จะทรงทดสอบผู้ศรัทธาในยุคปัจจุบันเช่นกัน การกล่าวว่าภาวะซึมเศร้าคือสัญญาณแห่งศรัทธาที่อ่อนแอนั้นมันเหมือนกับกำลังจะบอกว่า คนที่เจอแต่เรื่องแย่ๆ ในชีวิตนั้นเกิดจากการที่เค้าทำตัวไม่ดี
                        ทั้งๆ ที่ความจริงมันช่างย้อนแย้งกับเรื่องราวที่เรารู้เกี่ยวกับชีวิตชนผู้ศรัทธาในยุคก่อนแทบทั้งสิ้น ที่น่าจะถูกต้องควรจะเป็น ยิ่งคุณมีศรัทธามากขึ้นเท่าไหร่คุณก็จะยิ่งเจอบททดสอบมากขึ้นเท่านั้นเสียมากกว่า

                    </p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>
                        ครั้งหนึ่ง ษะอัด อิบนุ อบีวะก๊อศ(ร.ฎ.)เคยถามท่านนบีมูฮัมหมัด (ซ.ล.) ว่า“โอ้ท่านศาสนทูตแห่งอัลลอฮ มนุษย์ประเภทใดที่จะถูกทดสอบมากที่สุด?”ท่านนบีมูฮัมหมัด (ซ.ล.) ตอบว่า“บรรดาศาสนทูตทั้งหลาย จากนั้นกลุ่มชนที่ดีที่สุดถัดจากนั้น และกลุ่มชนที่ดีที่สุดถัดจากนั้น
                        บุคคลหนึ่งจะถูกทดสอบตามระดับศรัทธาที่เขามีต่อศาสนา หากความศรัทธาของเขาแข็งแกร่ง เขาจะถูกทดสอบมากกว่า และหากความศรัทธาของเขาอ่อนแอ เขาก็จะถูกทดสอบเท่าความศรัทธาที่เขามี ความเลวร้ายจะยังคงประสบกับคนหนึ่งจนกระทั่งเขาเดินบนหน้าแผ่นดินนี้โดยไม่มีบาปติดตัวใดๆ
                        เลย”ตราบใดที่มนุษย์เรายังคงจมอยู่กับความทุกข์ เราก็จะยังคงสับสนและไม่เข้าใจถึงความแตกต่างระหว่างคำว่า “บททดสอบ” และ “การลงโทษ” คนคนหนึ่งจะจมอยู่กับความทุกข์ทรมานจนไม่ยอมเข้าใจเสียทีว่า แท้จริงแล้วความทุกข์ที่เขาประสบอยู่นั้นเป็นเพียงสิ่งชั่วคราวที่รอวันผ่านพ้นไป
                        หากเขามัวแต่ตั้งคำถามเพียงว่า เขาทำอะไรผิดจึงต้องมารับบทลงโทษมากมายเช่นนี้ เขาจะไม่มีวันเข้าใจ…
                    </p>
                </div>
            </div>
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>ชัยฏอนชอบหลอกล่อให้เราคิดว่า “ฉันอุตส่าห์ทำทุกอย่างที่อัลลอฮสั่งใช้ให้ทำแล้วนะ ฉันรู้ดีแหละว่าฉันผิดเอง แต่ฉันก็บอกไปแล้วไงว่าฉันขอโทษ แล้วทำไมพระองค์ยังทำอย่างนี้กับฉันอีก? อัลลอฮนั้นไม่ยุติธรรมเลย อัลลอฮไม่ได้มีอยู่จริง หรือจะอะไรก็ตามแต่ฉันคิดว่าทั้งหมดที่เกิดขึ้นมันทุเรศมาก
                        และฉันก็ไม่อยากจะศรัทธาอะไรอีกต่อไปแล้ว”นี่คือความคิดที่อันตราย และหากคุณยังไม่เปลี่ยนทิศทางความคิดก่อนที่มันจะเตลิดไปไกลกว่านั้น คุณอาจจะเหลือตัวเลือกอยู่เพียงสองทาง คือสูญเสียศรัทธาหรือไม่ก็สูญเสียชีวิตไปเลย เป็นไปได้ว่าคุณอาจจะสิ้นหวังในอัลลอฮและเริ่มมองหาเหตุผลอื่นที่จะมีชีวิตอยู่ต่อไปหรืออาจไม่อยากมีชีวิตอยู่อีกต่อไปเลยก็เป็นได้
                    </p>
                </div>
            </div>

            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>ท่านนบีมูฮัมหมัด(ซ.ล.)ได้กล่าวว่า: “จะไม่มีความเหนื่อยล้าใด หรือการเจ็บป่วยใด หรือความหม่นหมองใด หรือความโศกเศร้าใด หรือความเจ็บปวดใด หรือความทุกข์ระทมใด หรือแม้แต่เสี้ยวหนามตำเพียงน้อยนิด ประสบกับมุสลิมได้ นอกเสียจากว่าอัลลอฮประสงค์จะลบล้างบาปบางส่วนออกจากตัวเขาไป”เพราะชีวิตคนเราต้องเจอกับความเจ็บปวด
                        ต้องเจอกับสิ่งที่ไม่คาดคิด และบ่อยครั้งที่มันยุ่งยากซับซ้อน ฉะนั้นเมื่อถึงเวลาที่คุณต้องแยกแยะระหว่างบทลงโทษกับบททดสอบแล้ว สิ่งเดียวที่คุณต้องจำให้ได้ก็คือ “คุณมีปฏิกิริยาต่อสิ่งนั้นอย่างไร?”</p>
                </div>
            </div>

            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>หากคุณค้นพบว่าตนเองสามารถเผชิญหน้ากับความโศกเศร้านั้นได้ และคุณสามารถต่อสู้กับมันด้วยความช่วยเหลือจากอัลลอฮ และพยายามต่อสู้ทุกวิถีทางที่อัลลอฮกำหนดให้คุณไว้ได้ นั่นแสดงว่าสิ่งที่คุณเจออยู่นั้นคือบททดสอบที่คุณสอบผ่านมันมาได้ แม้ว่าคุณจะไม่สามารถเอาชนะความเศร้าไปได้เต็มร้อยก็ตาม
                        ตราบใดที่คุณยังคงยืนหยัดในศรัทธาของคุณและอดทนกับมันได้ คุณจะสามารถปลดชำระบาปของตัวเองออกไปไม่ต่างอะไรกับต้นไม้ที่ผลิใบในฤดูใบไม้ร่วง ฉันใดก็ฉันนั้น คุณยอมที่จะแลกกับความเจ็บปวดบนโลกนี้เพื่อให้ได้มาซึ่งรางวัลอันยิ่งใหญ่กว่าในโลกหน้า
                        รางวัลที่วันนั้นใครๆ ก็จะพากันอิจฉา เพราะมันจะมีค่ายิ่งกว่าสิ่งใดๆ ทั้งปวง…แต่ถ้าหากคุณค้นพบว่าตนเองเผชิญกับความโศกเศร้าแล้วกลับรู้สึกโกรธเคืองไม่พอใจอัลลอฮอยู่ลึกๆ คุณปล่อยให้สถานการณ์ที่เจอค่อยๆ ผลักไสคุณให้ออกห่างจากพระองค์
                        คุณกลับเข้าใกล้การกระทำที่เป็นบาปเข้าไปทุกที คุณใช้วิถีแห่งบาปในการพยายามทำให้ตัวเองลืมสิ่งเลวร้ายเหล่านั้น นั่นแสดงว่าบททดสอบของคุณได้กลายเป็นบทลงโทษไปเสียแล้ว วิธีการตอบสนองของคุณมีแต่จะเพิ่มความเจ็บปวดให้กับชีวิตตัวเอง ทั้งโลกนี้และโลกหน้าเลยทีเดียว…</p>
                </div>
            </div>
        </div>

</body>

</html>