<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ศาสนาอิสลาม</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <img src="/images/isaram.png" alt="" id="img14">
        <h1 align="center" style="margin-top: 30px; color:#9A52C7;">ศาสนาอิสลาม</h1>
        <div class="container">
            <div class="div2" style="margin-top: 20px;">
                <div class="text">
                    <p>หลักคำสอนสำคัญของศาสนาอิสลาม จะเน้นเรื่องความศรัทธาหรือความเชื่อโดยปราศจากการระแวงสงสัย และการปฏิบัติตนอย่างเคร่งครัด</p>
                    <h5>๑. หลักศรัทธา ๖ ประการ</h5>
                    <p>๑. ศรัทธาต่อพระอัลเลาะฮ์ ผู้เป็นมุสลิมต้องศรัทธาต่อพระอัลเลาะฮ์เพียงพระองค์เดียว ๒. ศรัทธาต่อเทพบริวารของพระอัลเลาะฮ์ ผู้เป็นมุสลิมต้องศรัทธาว่าเทวทูตมีจริง <br> ๓. ศรัทธาต่อพระคัมภีร์ทั้งหลาย ผู้เป็นมุสลิมต้องศรัทธาต่อคัมภีร์ที่พระเจ้าประทานมาให้
                        <br> ๔. ศรัทธาต่อบรรดาศาสนทูต ผู้เป็นมุสลิมต้องศรัทธาต่อบรรดาศาสนทูตซึ่งถือเป็นที่พระเจ้าเลือกสรรว่า เป็นคนดีเหมาะแก่การเป็นผู้ประกาศศาสนา <br> ๕. ศรัทธาในวันพิพากษา ผู้เป็นมุสลิมต้องเชื่อว่า เมื่อถึงวันที่โลกแตกดับพระเจ้าจะเป็นผู้พิพากษามนุษย์ตามกรรมดีและกรรมชั่วที่ได้ทำไว้
                        <br> ๖. ศรัทธาในกฎสภาวะของพระเจ้า ผู้เป็นมุสลิมต้องเชื่อว่าพระเจ้าเป็นผู้ลิขิตชีวิตมนุษย์</p>
                    <h5> ๒. หลักปฏิบัติ ๕ ประการ</h5>
                    <p>ชาวมุสลิมจะต้องปฏิบัติพิธีกรรมทางศาสนาด้วยกาย วาจา และใจ หลักปฏิบัติ ๕ ประการ ในศาสนาอิสลาม ได้แก่ ๑. การปฏิญาณตน เป็นการประกาศตนยอมรับด้วยความศรัทธาและความบริสุทธิ์ใจว่า พระอัลเลาะฮ์เป็นพระเจ้าสูงสุดเพียงองค์เดียวเท่านั้น และยอมรับว่าท่านนบีมุฮัมมัดเป็นศาสนทูตของพระเจ้า
                        <br> ๒. การละหมาด เป็นการนมัสการพระเจ้าทั้งทางร่างกายและจิตใจ โดยปฏิบัติวันละ ๕ เวลา คือ ย่ำรุ่ง กลางวัน เย็น พลบค่ำ และกลางคืน <br> ๓. การถือศีลอด เป็นการงดการบริโภคอาหาร เครื่องดืม และการมีเพศสัมพันธ์ตั้งแต่พระอาทิตย์ขึ้นจนถึงพระอาทิตย์ตกดินเป็นเวลา
                        ๑ เดือน ตามกำหนด ซึ่งจะมีในเดือน ๙ เรียกว่า เดือนรอมาฏอน การถือศีลอดนี้เป็นการฝึกฝนร่างกาย และจิตใจให้มีความอดทน <br> ๔. การบริจาคซะกาต เป็นการบริจาคทรัพย์หรือให้ทานแก่คนที่เหมาะสมตามที่ศาสนากำหนด เช่น เด็กกำพร้า คนที่ขัดสน เพื่อเป็นการขัดเกลาจิตใจให้สะอาดลดความเห็นแก่ตัวลง
                        และเป็นการลดช่องว่างในสังคม <br> ๕.การประกอบพิธีฮัจญ์ เป็นการเดินทางไปประกอบพิธกรรมทางศาสนาที่เมืองเมกกะ ประเทศซาอุดีอาระเบีย จุดมุ่งหมายเพื่อให้ชาวมุสลิมระลึกถึงพระเจ้าและได้พบปะพี่น้องมุสลิมจากทั่วโลก</p>
                </div>
            </div>
        </div>
</body>

</html>