<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>สายด่วนสุขภาพจิต</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <img src="/images/call.png" alt="" id="img17">

        <div class="container">
            <h1 align="center" style="margin-top: 20px; color:#9A52C7;">สายด่วนสุขภาพจิต</h1>
            <div class="div2" style="margin-top: 40px;">
                <div class="text">
                    <h5>โทร : 1323 (ตั้งแต่เวลา 06.30-22.30 น.) </h5>
                    <h5>Facebook : The Samaritans of Thailand สมาคมสะมาริตันส์แห่งประเทศไทย (ตั้งแต่เวลา 12.00-22.00)</h5>
                    <h5>แอปพลิเคชัน : see doctor now (สามารถโหลดได้ระบบ iOS และระบบ Android)</h5>
                </div>
            </div>
        </div>

</body>

</html>