<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>อ้างอิง</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <img src="/images/Book-Transparent-PNG.png" alt="" id="img18">
        <h1 align="center"> อ้างอิง</h1>
        <div class="container">
            <div class="div2" style="margin-top: 30px; margin-bottom:60px;">
                <div class="text">
                    <p> - คณะแพทย์ศาสตร์โรงเพยาบาลรามาธิบดี มหาวิทยาลัยมหิดล.(2559).โรคซึมเศร้า.สืบค้นเมื่อ 1พฤศจิกายน พ.ศ. 2562, สืบค้นหาจากhttps://med.mahidol.ac.th/ramamental/General knowled/09042014-1017.</p>
                    <p>- ทัชชา สุริโย.(2559).ผลของโปรแกรมการให้คำปรึกษากลุ่มที่มีต่อการเสริมสร้างความฉลาดทางสังคมในวัยรุ่น กลุ่มเสี่ยงต่อภาวะซึมเศร้า.สืบค้นเมื่อ 1 พฤศจิกายน พ.ศ.2562 สืบค้นจาก https://56299130114AP6992.pdf
                    </p>
                    <p>- ท่านเป็นโรคซึมเศร้าอยู่หรือไม่.(2562).[ออนไลน์].เข้าถึงได้จาก:http://www.kamsonbkk.com/encouragement/love.(วันที่ค้นข้อมูล : 6 พฤศจิกายน 2562).</p>
                    <p>- บันทึกความในใจของผู้หญิงมุสลิมที่ต้องต่อสู้กับโรคซึมเศร้า และความเข้าใจผิดที่ปั่นทอนหัวใจ.(2560).[ออนไลน์].เข้าถึงได้จาก : http://www.halallifemag.com/the-myth-of-the-depression-proof-muslim. (วันที่ค้นข้อมูล : 6 พฤศจิกายน 2562).</p>
                    <p>- พระอัครเดช. ญาณเตไช.(2558).พุทธวิธีคลายโศก.[ออนไลน์].เข้าถึงได้จาก:http://www.stou.ac.th/study/sumrit/10-58(500)/page 1-10-58(500).html. (วันที่ค้นข้อมูล : 6 พฤศจิกายน 2562).</p>
                    <p>- มังคือฟาร์มรัก.(2562).ดนตรีบำบัดความเครียด เพลงบรรเลงเพื่อฝึกสมาธิ.สืบค้นเมื่อ 1 พฤศจิกายน 2562. จากเว็บไซต์ https://youtu.be/IXKAGsgsize</p>
                    <p>- วิทยาลัยพยาบาลบรมราชชนนี พะเยา.(2562).ยืดเส้นยืดสายผ่อนคลายความเครียด.สืบค้นเมื่อ 1 พฤศจิกายน 2562. จากเว็บไซต์ https://youtu.be/qhcB5NFCv05</p>
                    <p>- beSmart Love Thai king.(2562).7 ท่า สมาธิบำบัด STK ทางเลือกใหม่ไร้โรค.สืบค้นเมื่อ 1 พฤศจิกายน 2562.จากเว็บไซต์ https:youtu.be/oecaIDZ44yy</p>
                    <p>- Ki Art yoga-online yoga&lifestyle studio.(2562).โยคะคลายเครียด ลดปวดหัว ปวดตา.สืบค้นเมื่อ 1 พฤศจิกายน 2562.จากเว็บไซต์ https://youtu.be/CmfxfqTK93M</p>
                    <p>- Thai PBS.(2562).ฝึกสมาธิ SKT แก้ซึมเศร้า ลดความเครียด.สืบค้นเมื่อ 1 พฤศจิกายน 2562.จากเว็บไซต์ https:// youtu.be/pc98XuDhs</p>
                </div>
            </div>
        </div>

</body>

</html>