<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>เพื่อคุณดอทคอม</title>
</head>

<body class="backgroud">
    <%- include layout%>

        <div class="container">

            <img src="/images/48376867_2257465457844251_6938265168400875520_n.png" alt="" class="img-fluid">
        </div>
        < </body>

</html>