<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
    <title>เพื่อคุณดอทคอม</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <div class="container">
            <h2 align="center" style="margin-top: 50px;"> ยินดีต้อนรับ</h2>
            <h1 align="center">สู่เว็บไซต์เพื่อคุณดอทคอม</h1>
            <img src="/images/48376867_2257465457844251_6938265168400875520_n.png" alt="" class="img-fluid" id="img15">
        </div>
        <img src="/images/bottom1.png" alt="" id="img16">

</body>

</html>