<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>แบบคัดกรองโรคซึมเศร้า</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <img src="/images/hiclipart.com-id_dvpwx.png" alt="" id="img5">
        <div class="container">

            <h1 align=center style="margin-top: 20px; color:#9A52C7;">แบบคัดกรองสุขภาพจิต</h1>

            <div class="row" style="margin-top: 40px; margin-bottom: 60px; ">
                <div class="col-sm-6">
                    <div class="card" style=" background:#D6E8EE;  margin-top:20px;">
                        <img src="http://www.govivigo.com/content/upload/images/Thailand%20Travel_North/Thailand_Travel_North_Doi-Inthanon-National-Park_Chiang-Mai_1.jpg" class="card-img-top" alt="...">
                        <div align="center" class="card-body">
                            <h5 class="card-title">ภาษาเหนือ</h5>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdHYP1SOdOVwsHv9C9jTVkmMbxZgRcbIhuZeoTk579fDqwppw/viewform" class="btn btn-success btn-lg">คลิก</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="background:#D6E8EE; margin-top:20px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY9GsYPzMedoMqXXZbT4OOIaPoqquTEQAd2mGRJ5QmSUQAcn44&s" class="card-img-top" alt="...">
                        <div align="center" class="card-body">
                            <h5 class="card-title">ภาษากลาง</h5>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScnEfe_G2Ev-4LzolGkOV6wqmDWz1j-NO6aO1LVzS_w9oxIQw/viewform" class="btn btn-success btn-lg ">คลิก</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 60px;">
                <div class="col-sm-6">
                    <div class="card " style=" background:#D6E8EE;  margin-top:20px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAeA0RQUTPFAa5yNFJHV02zlAXS5-5EYUhBzcwXgk_cW8WcS6B&s" class="card-img-top" alt="...">
                        <div align="center" class="card-body">
                            <h5 class="card-title">ภาษาอีสาน</h5>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScdvcdDWEY3e9Y-UmvN77rx1O71QvbaFM-NM3PRzF-qGoqFBg/viewform" class="btn btn-success btn-lg">คลิก</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style=" background:#D6E8EE;  margin-top:20px;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTedaZ0KOEbhZ7Pg9qKmuYoCAuGKD8sTvFFnkfS4hOuHVTZ6VtFeg&s" class="card-img-top" alt="...">
                        <div align="center" class="card-body">
                            <h5 class="card-title">ภาษาใต้</h5>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdjr2GUaXr6vv-rBO-PVBno_-3gW4BSUqTTFSIMgGtJpn0raw/viewform?fbzx=5815903475164442774" class="btn btn-success btn-lg ">คลิก</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>