<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>แบบสัมภาษณ์ดัชนีชี้วัดสุขภาพจิต</title>
</head>

<body class="backgroud">
    <%- include layout%>
        <div class="container" style="margin-bottom: 60px;">
            <img src="/images/kisspng-questionnaire-survey-methodology-the-doctor-of-the-questionnaire-survey-5a7c05d06e77b0.8974406715180773924525.png" alt="" id="img19">
            <h1 align="center" style="margin-top: 20px; color:#9A52C7;"> แบบประเมินความเครียด</h1>
            <h1 align="center" style="margin-top: 20px; color:#9A52C7;">คนไทยฉบับสั้น Thai Mental Health Indicator-15(TMHI-15)</h1>
            <img src="/images/frame1.png " alt=" " id="img20">
            <a style="margin-top:30px;" href="https://docs.google.com/forms/d/e/1FAIpQLSfoCuS1dzyCvVvSHlGif6UlZMWm2QpxrP2YRbNUtALFWleXfg/viewform" class="btn btn-success btn-lg btn-block " "><h4>คลิก</h4></a>
           
        </div>
      
</body>

</html>