.backgroud {
    background-image: linear-gradient(to bottom right, #FAFA6E, #23AA8F);
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 20px;
}

#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 20px;
}

#img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 20px;
}

#img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
    margin-top: 20px;
}

#img4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
    margin-top: 20px;
}

#img5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20px;
}

#img6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 20px;
}

#img7 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

#img8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 20px;
}

#img9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    margin-top: 20px;
}

#img10 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    margin-top: 20px;
}

#img11 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 20px;
}

#img12 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 20px;
}

#img13 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 20px;
}

#img14 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 20px;
}

#img15 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0;
    /* height: 100%; */
}

#img16 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 50%;
    margin-bottom: 0;
    /* height: 100%; */
}

#img17 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 20px;
}

#img18 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 20px;
}

#img19 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    margin-top: 20px;
}

#img20 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 20px;
}


/* .card text-white bg-success mb-3 {
    margin-top: 10 px;
} */

.text {
    padding: 40px;
    margin: 0 auto;
}

.div1 {
    border: 8px;
    border-color: #FFCAF8;
    border-width: 20px;
    border-style: dashed;
    margin-bottom: 60px;
}

.div2 {
    border: 8px;
    border-color: #FFCAF8;
    border-width: 20px;
    border-style: dotted;
    margin-bottom: 60px;
}

.div3 {
    border: 8px;
    border-color: #FFCAF8;
    border-width: 20px;
    border-style: dashed;
    margin-bottom: 60px;
}

.div4 {
    border: 8px;
    border-color: #FFCAF8;
    border-width: 15px;
    border-style: dashed;
    margin-bottom: 60px;
}

.div5 {
    border: 8px;
    border-color: #FFCAF8;
    border-width: 15px;
    border-style: dashed;
    margin-bottom: 60px;
}

.div6 {
    padding: 40px;
    margin-bottom: 60px;
}

.div7 {
    border: 8px;
    border-color: #FFCAF8;
    border-width: 15px;
    border-style: dashed;
    margin-bottom: 60px;
}

#youtube {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    font-family: 'Itim', cursive;
}

h1 {
    font-size: 55px;
}

p {
    font-size: 25px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 30px;
    color: #9A52C7;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 100px;
}

.navbar-brand {
    font-size: 12px;
}