<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>บทความสร้างกำลังใจ</title>
</head>

<body class="backgroud">
    <%- include ../layout%>
        <img src="/images/hiclipart.com-id_iljhx.png" alt="" id="img8">
        <h1 align="center" style="margin-top: 30px; color:#9A52C7;">19 ข้อคิดให้กำลังใจตัวเอง อ่านกี่ครั้งก็ไม่เบื่อ!</h1>
        <div class="container">
            <div class="div7" style="margin-top: 20px;">
                <div class="text">
                    <p>1. อย่ากลัว การเริ่มต้นใหม่ และอย่าแคร์สายตาใคร ตราบใดที่เรายังหายใจ <br> 2. คนอื่นไม่ให้โอกาสเรา ยังไม่น่าเศร้าเท่ากับเราไม่ให้โอกาสตัวเอง<br> 3. กระจกไม่เคยดูถูกใคร มีแต่คนที่ไม่มั่นใจที่ดูถูกตัวเอง <br> 4. คนฉลาดไม่ใช่ผู้ที่ชนะการโต้แย้ง
                        แต่คนฉลาด คือผู้ที่ออกห่างจากการโต้แย้งตั้งแต่เริ่มต้น <br> 5. คนที่ใช้ชีวิตคุ้มค่า คือ คนที่ได้ทำ ในสิ่งที่อยากทำไม่ใช่เพราะได้ทำในสิ่งที่คนอื่นอยากให้ทำ<br> 6. อย่าเป็นคนเก่งที่แล้งน้ำใจ แต่จงเป็นคนธรรมดาทั่วไปที่มีน้ำใจ และไม่เห็นแก่ตัว<br>                        7. มองปัญหาให้เหมือนกับเม็ดทราย ถึงจะเยอะมากมาย แต่เม็ดทรายก็เล็กนิดเดียว<br> 8. ใครจะดูถูกเราก็ปล่อยให้เค้าดูถูกไป แต่จงท่องให้ขึ้นใจว่าเราจะไม่ดูถูกตัวเอง<br> 9. ไม่มีใครเกิดมาไร้ค่า แม้แต่คนโง่ที่สุดยังฉลาดในบางเรื่อง และคนฉลาดที่สุด
                        ก็ยังโง่ในหลายเรื่อง
                        <br> 10. ไม่มีอะไรเสียเวลาไปมากกว่า การคิดที่จะย้อนกลับไปแก้ไขอดีต <br> 11. ไม่เคยมีอะไรช้าเกินไป ที่จะทำใหสิ่งที่ตนฝัน .. <br> 12. คนที่ไม่เคยหิว ย่อมไม่ซาบซึ้งรสของความอิ่ม <br> 13. ความสำเร็จที่ผ่านความล้มเหลว ย่อมหอมหวานกว่าเดิม
                        .. <br> 14. อันตรายที่สุดของชีวิตคนเราคือ การคาดหวัง อย่ายอมแพ้ ถ้ายังไม่ได้พยายามอย่างเต็มที่ เหตุผลขอคนๆ หนึ่ง อาจไม่ใช่เหตุผลของคนอีกคนนึง ถ้าคุณไม่ลองก้าว คุณจะไม่มีทางรู้เลยว่า ทางข้างหน้าเป็นอย่างไร <br> 15. ปัญหาทุกอย่างล้วนอยู่ที่ตัวเราทั้งสิ้น
                        ยินดีกับสิ่งที่ได้มา และยอมรับกับสิ่งที่เสียไป <br> 16. หลังพายุผ่านไป ฟ้าย่อมสดใสเสมอ <br> 17. มีแต่วันนี้ที่มีค่า ไม่มีวันหน้า วันหลัง <br> 18.คนเราไม่ต้องเก่งไปทุกอย่าง แต่จงสนุกกับงานทุกชิ้น ที่ได้ทำ
                        <br> 19. หัวใจของการเดินทางไม่ได้อยู่ที่จุดหมาย หากอยู่ที่ประสบการณ์สองข้างทางมากกว่า</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 align="center" style="margin-top: 30px; color:#9A52C7;">4 ข้อคิด เพื่อรับมือกับโรคซึมเศร้าอย่างเข้าใจ</h1>
            <div class=" div7 " style="margin-top: 20px; ">
                <div class="text ">
                    <p>1. โรคซึมเศร้า "ไม่ใช่เรา " มันเป็นเพียง "โรค "ที่รักษาให้หายได้ อาการของโรคซึมเศร้ามันทำให้เรามีความคิดลบๆกับตัวเองเราจะรู้สึกว่าตัวเองไม่ดี อ่อนแอ ไร้ค่า เป็นภาระของคนอื่นซึ่งถ้าหากเราทำความเข้าใจกับโรคและตัวเราเองได้เพื่อที่จะตระหนักรู้และแยกแยะตัวเรากับโรคด้วยการหาวิธีรับมือกับความคิดและจิตใจตัวเองมันจะช่วยให้อาการของโรคซึมเศร้าดีขึ้นเป็นลำดับ
                        <br> 2. การปฏิเสธหรือต่อต้านโรคซึมเศร้า ยิ่งทำให้เราทุกข์ใจ เมื่อรู้ว่าตัวเองป่วยเป็นโรคซึมเศร้า ก็ไม่ใช่เรื่องง่ายที่จะยอมรับมันเพราะความทุกข์ทรมาน ทั้งอาการของโรคและผลข้างเคียงของยาที่ใช้รักษาโรคซึมเศร้า รวมทั้งผลกระทบในชีวิตที่ตามมาอีกมากมายแต่ถ้าหากว่าเรายังปล่อยให้ตัวเองเกิดความรู้สึกต่อต้านว่าทำไมต้องเป็นเราที่ป่วย
                        เราไม่อยากเป็นโรคซึมเศร้าหรืออยากหายป่วยเร็วๆ อีกทั้งยังต่อต้านไม่ให้ความร่วมมือในการรักษาความรู้สึกเหล่านี้เป็นตัวทำให้เราทุกข์ใจอย่างมากอาจจะมากกว่าตัวโรคที่มีอยู่ และยิ่งกระตุ้นให้อาการแย่ลงหากเราลองทำความเข้าใจให้ตัวเองยอมรับในสิ่งที่เป็นปรับเปลี่ยนวิธีคิดหรือมุมมองที่มีต่อโรคมันจะทำให้เราได้มองเห็นทางออกที่ดีขึ้นได้
                        <br> 3. โรคซึมเศร้า อาจจะทำให้เราไม่มีความสุขในชีวิต แต่มันก็ไม่ได้หมายความว่า เป็นโรคซึมเศร้าแล้วจะมีความสุขไม่ได้โรคซึมเศร้า มันจะครอบงำจิตใจเราให้ทุกข์ทรมานจนทำให้เราลืมที่จะมีความสุขกับชีวิตและสิ่งดีๆที่เรามีเราเป็นเพราะฉะนั้นเราต้องฝึกรู้เท่าทันโรคซึมเศร้า
                        รวมทั้งความคิดและจิตใจเราเองฝึกมองหาสิ่งที่ทำให้เรามีความสุข เพื่อเอาชนะมันและใจเราเองให้ได้ <br> 4. โรคซึมเศร้า เป็นความเจ็บป่วยทางใจ เมื่อจิตใจป่วยก็ต้องเยียวยารักษาใจ เพื่อให้จิตใจมีพลังคนเราเมื่อร่างกายป่วย เราก็ต้องรักษาตัวและพักผ่อนร่างกายความเจ็บป่วยทางใจ
                        ก็เช่นเดียวกันเป็น โรคซึมเศร้า เราก็ต้องรู้จัก ดูแลรักษาเยียวยาจิตใจตัวเองและหาวิธีที่จะผ่อนคลายสมองและจิตใจ ให้มากๆเพราะมันสัมพันธ์กันทางความคิด เพราะฉะนั้นอะไรที่เป็นตัวกระตุ้นความคิด</p>
                </div>
            </div>
        </div>


</body>

</html